
    <div class="container mt-5">
        <form [formGroup]="userForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" required class="form-control" formControlName="name" [class.is-invalid]="form['name'].touched && form['name'].invalid">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="phone-no">Phone-no:</label>
                <input type="number" class="form-control" formControlName="phoneno">
            </div>
        </form>
    </div>
  
