.box{
    display :flex;
}
h1{
    text-align: center;
}


.container{
    background-color: blue;
    justify-content:flex-start;
    height: 120px;
}
.card{
    background-color: rgb(218, 20, 20);
    width: 80px;
    height: 80px;
    margin: 10px; 
    padding: 10px;
}

.container1{
    background-color: blue;
    justify-content:flex-end;
    height: 120px;
}
.container2{
    background-color: blue;
    justify-content:center;
    height: 120px;
}   
.container3{
    background-color: blue;
    justify-content:space-between;
    height: 120px;
}   
.container4{
    background-color: blue;
    justify-content:space-around;
    height: 120px;
}   
.container5{
    background-color: blue;
    justify-content:space-evenly;
    height: 120px;
}   